* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.label {
  font-size: 15px;
  color: #64748b;
  margin-bottom: 10px;
  font-weight: 600;
}

.form-container {
  width: 20%;
}

.input {
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}

.register-btn {
  height: 35px;
  width: 120px;
  background-color: #3b82f6;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
}

.details-register-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.register-image {
  width: 350px;
  height: 350px;
}

.error-msg {
  color: red;
  font-size: 13px;
}
